/* * { */
/*   outline: 1px solid tomato; */
/* } */

/* Width of the entire scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b1b4b8;
}

.text-border {
  -webkit-text-stroke: 2px black;
}

.skill-hidden {
  display: none;
}

.navbar {
  position: relative;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* Ensure it's above other elements */
  background-color: white;
  /* Add background color to prevent overlapping */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Optional shadow */
}

/* Navbar (show/hide) */
#navbar_small {
  display: none;
}

@media (max-width: 768px) {
  #navbar {
    display: none;
  }
  #navbar_small {
    display: flex;
  }
}
